*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
h1, h2, h3, h4{
    color: hsl(233, 12%, 13%);
}
h2{
    font-weight: 700;
    font-size: 36px;
}
p{
    color: hsl(227, 12%, 61%);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.hamburger-menu{
    display: none;
}
.header{
    background-image: url(./images/bg-tablet-pattern.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: 109% 290%;
    padding-top: 60px;
    text-align: center;
}
.navbar-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.navbar-item{
    font-weight: 500;
}
.navbar-item a{
    text-decoration: none;
    color: hsl(233, 12%, 13%);
}
button{
    background-color: hsl(12, 88%, 59%);
    border: none;
    color: white;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
}
.intro-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;  
}
.intro-body>div{
    width: 44%;
}
.text-block{
    text-align: left;
    padding-right: 150px;
}
.text-block h1{
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-block p{

    padding-bottom: 20px;
    padding-right: 150px;
}

.graphs-block img{
    object-fit: contain;
    height: auto;
    max-width: 100%;
}
.button-2{
    padding-top: 20px;
    padding-bottom: 20px;

}


.about-body{
    background-image: url(./images/bg-tablet-pattern.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: -50% 50%;
    display: flex;
    flex-direction: column;
}
.manage-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
}
.manage-body>div{
    width: 44%;
}
.manage-text-block{
    text-align: left;
}
.manage-text-block h2{
    padding-bottom: 40px;
}
.manage-text-block p{
    padding-right: 150px;
}

.list-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
 .list-text h3{
    padding-bottom: 30px;
    padding-top: 10px;
 }
 .list-text p{
    padding-bottom: 40px;
 }

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 120px;
}
.testimonial-heading{
    padding-bottom: 80px;
}
.testimonial-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
.testimonial-block>div{
    background-color: hsl(0, 0%, 98%);
    width: 32%;
}
.testimonial-people img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    position: relative;
    top: -45px;
    z-index: 99;
}
.testimonial-people h4{
    padding-bottom: 20px;
}


.bottom-banner{
    background: url(./images/bg-tablet-pattern.svg) hsla(12, 88%, 59%, 90%);
    object-fit: cover;
    background-blend-mode: multiply;
}
.banner-text-block h2{
    color: white;
}
.bottom-blocks{
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.banner-get-started{
    background-color: white;
    color: hsl(12, 88%, 59%);
    border-radius: 30px;
}

.footer-banner{
    background-color: hsl(228, 39%, 23%);
    color: white;    
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 60px 0;
    gap: 30px 160px;
     
}

.footer-banner .footer-C ul li{
    list-style: none;
    margin-bottom: 16px;
    grid-row: 3 / span 2;
}

.footer-banner .footer-B ul li{
    list-style: none;
    margin-bottom: 16px;
}

.footer-B{
    grid-area: 1 / 2/ span 2 / span 1;
}

.footer-C{
    grid-area: 1 / 3 / span 2 / span 1;
}

.footer-banner .footer-D input{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding: 0 16px;

}
.footer-D{
    margin-bottom: 24px;
    display: flex;
    /* justify-content: center; */
    gap: 24px;
}
.footer-E>span {
    padding: 0 10px 0 0;
}

.footer-banner .footer-A{
    margin-bottom: 24px;
}
.footer-B{
    display: flex;
    gap: 12px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media screen and (max-width:991px) {
    .container{
        width: 90%;
    }
    .intro-body>div{
        width: auto;
    }
    .manage-body>div{
        width: auto;
    }
    .navbar-all>div{
        padding-bottom: 20px;
    }
    .navbar-list, .get-started{
        display: none;
    }
    .header{
        padding-top: 30px;
        background-position: 0% 0%;
    }
    .hamburger-menu{
        display: block;
    }
    .intro-body{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-block{
        text-align: center;
        padding: 0px;
    }

    .text-block h1{
        font-size: 40px;
    }

    .text-block p{
        padding-right: 0px;
    }
    
    .manage-body {
        flex-direction: column;
    }
    .manage-body p{
        padding-right: 0px;
        margin-bottom: 24px;
    }
    .manage-text-block h2,p {
        margin-bottom: 16px;
        padding-bottom: 0px;
        text-align: center;
    }
    .manage-text-block h2{
        font-size: 28px;
    }
    .bottom-blocks {
    height: auto;
    flex-direction: column;
    padding: 24px 0;
    }


    
    .testimonial-block{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 80px;
    }
    .testimonial-block>div{
        width: 90%;
    }

    .banner-text-block h2{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .testimonial-people img{
        width: 20%;
        height: 20%;
    }

    .footer-banner{
        grid-template-columns: auto auto;
        gap: initial initial;
    }
    .footer-D{
        grid-area: 1 / 1 / span 1 / span 2;
    }
    .footer-B{
        grid-area: 2 / 1 / span 1 / span 1;
    }
    .footer-C{
        grid-area: 2 / 2 / span 1 /span 1;
    }
    .footer-E, .footer-A, .footer-F{
        text-align: center;
    }
    .footer-E{
        grid-area: 3/ 1 / span 1 / span 2; 
    }
    .footer-A{
        grid-area: 4 / 1 / span 1 / span 2; 
    }
    .footer-F{
        grid-area: 5 / 1 / span 1 / span 2; 
    }
}